
  
  <style>
    .gps-479338208199443253 .relative{position:relative}.gps-479338208199443253 .mx-auto{margin-left:auto;margin-right:auto}.gps-479338208199443253 .mb-0{margin-bottom:0}.gps-479338208199443253 .flex{display:flex}.gps-479338208199443253 .grid{display:grid}.gps-479338208199443253 .max-w-full{max-width:100%}.gps-479338208199443253 .flex-col{flex-direction:column}.gps-479338208199443253 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-479338208199443253 .duration-200{transition-duration:.2s}.gps-479338208199443253 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-479338208199443253 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(90% + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g6r2j4wsxX"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pb:var(--g-s-4xl);--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:90%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6r2j4wsxX mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqf0AGQxKr relative flex flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:center"
      data-keep-class="true"
      class="gdvGEdG2yo "
    ><div style="clear:both;"></div><div id="opinew-reviews-product-page-code" class="opw-widget-wrapper-default">
                <span id="opinew-plugin" data-server-address="https://api.opinew.com" data-opw-prodreviews="{{ product.metafields.opinew_metafields['product_plugin'] }}" data-opinew-shop-id="{{ shop.id }}" data-shop-url="{{shop.domain}}" data-platform-product-id="{{8674848309548}}">
                 <span id="opinew_product_plugin_app"></span>
                </span></div></div>
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Product Information - Sty",
    "tag": "section",
    "class": "gps-479338208199443253 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=479338208199443253)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
